braindecode
wfdb
pyyaml
loguru

typing
dirhash
lightning
pytorch_lightning
torchaudio
rich
pytorch_metric_learning
captum
mkdocstrings

boto3
h5py

mkdocs-material

xlrd
scipy

black
black[jupyter]
isort

ipywidgets
ipykernel

seaborn
pandas

npy-append-array